In [2]:
import pandas as pd
import numpy as np
import plotly.express as px

# importing data

article_data = pd.read_csv("articles.leptospirosis.csv")
author_data = pd.read_csv("authors.leptospirosis.csv")
paper_counts = pd.read_csv("paper_counts.csv")

In [3]:
author_data['FullName']= author_data['AuthorInitials']+' '+ author_data['AuthorForename']+' '+ author_data['AuthorLastname']
article_data['FullName'] = article_data['FirstAuthorInitials']+' '+ article_data['FirstAuthorForename'] +' '+ article_data ['FirstAuthorLastname']

In [4]:
def count_top_contributers(count, data):

    article_count = data.groupby('FullName').agg('count')['PMID'].reset_index()

    sorted_article_count = article_count.sort_values(
    by = 'PMID',
    ascending = False
    ).iloc[0:count, :]
    
    return sorted_article_count

In [5]:
count_top_contributers(20, article_data)

                                  FullName  PMID
1764                       N Nobuo Koizumi    14
1852                       P P Vijayachari     9
2286                  SB Suneth B Agampodi     9
1124                    JE Jarlath E Nally     8
362                        C Camila Hamond     7
2177                    S Senaka Rajapakse     7
1635  MIN Maria Isabel Nogueira Di Azevedo     6
1011                  J Janith Warnasekara     6
100                        A Anne Spichler     6
474                       CL Colleen L Lau     6
859                     GL Gerald L Murray     6
1612                        MG M G Avdeeva     6
1769                      N Noraini Philip     5
1682                     MP Michael P Ward     5
1484                       M Mariko Matsui     5
742                       F Federico Costa     5
1207                K K Natarajaseenivasan     5
2395         T Teerasit Techawiwattanaboon     5
1664                    ML Monica L Vieira     5
2237                   S Sudarat Chadsuthi     5

In [6]:

sorted_journal_count = article_data.groupby('Journal').agg('count')['PMID'].reset_index().sort_values('PMID', ascending=False)

sorted_journal_count

                                               Journal  PMID
527                   PLoS neglected tropical diseases   151
633  The American journal of tropical medicine and ...   129
546                                           PloS one   101
70                             BMC infectious diseases    54
9                                         Acta tropica    53
..                                                 ...   ...
307             International journal for parasitology     1
306                               International health     1
305                 International archives of medicine     1
303  Interdisciplinary sciences, computational life...     1
761                                            mSphere     1

[762 rows x 2 columns]

In [7]:
pivot_journal_count = article_data.value_counts('Journal').reset_index()
journal_counts = pivot_journal_count.rename(columns = {'count': 'Total_Count'})
journal_counts['% '] = round((journal_counts['Total_Count']/journal_counts['Total_Count'].sum())*100, 2)
topt_20 = journal_counts.head(20)
topt_20

                                              Journal  Total_Count    %
0                    PLoS neglected tropical diseases          151  4.46
1   The American journal of tropical medicine and ...          129  3.81
2                                            PloS one          101  2.98
3                             BMC infectious diseases           54  1.59
4                                        Acta tropica           53  1.56
5                          Epidemiology and infection           44  1.30
6                              Infection and immunity           41  1.21
7               Tropical animal health and production           39  1.15
8   Comparative immunology, microbiology and infec...           39  1.15
9   The Southeast Asian journal of tropical medici...           36  1.06
10  Transactions of the Royal Society of Tropical ...           35  1.03
11                       Journal of wildlife diseases           35  1.03
12                             Microbial pathogenesis           35  1.03
13                                 Scientific reports           32  0.94
14                       Emerging infectious diseases           30  0.89
15  International journal of environmental researc...           30  0.89
16                                            Vaccine           29  0.86
17                   Journal of clinical microbiology           29  0.86
18                    Journal of medical microbiology           29  0.86
19                            Veterinary microbiology           28  0.83

In [8]:
journal_contribusion = article_data.groupby(['Journal', 'FirstAuthorLastname', 'FullName']).agg('count')['PMID'].reset_index()
journal_contribusion.sort_values('PMID', ascending = False)

,Journal,FirstAuthorLastname,FullName,PMID
2406,The American journal of tropical medicine and ...,Agampodi,SB Suneth B Agampodi,5
1354,Journal of medical microbiology,Koizumi,N Nobuo Koizumi,4
1574,Klinicheskaia laboratornaia diagnostika,Avdeeva,MG M G Avdeeva,4
409,Bulletin of the World Health Organization,Smith,CE C E Smith,4
2543,The Canadian veterinary journal = La revue vet...,Kingscote,BF B F Kingscote,4
...,...,...,...,...
1087,International archives of medicine,De Silva,NL Nipun Lakshitha De Silva,1
1088,International health,Mohan,AR Andrea R M Mohan,1
1089,International journal for parasitology,Hotez,PJ Peter J Hotez,1
1090,International journal of antimicrobial agents,Abela-Ridder,B Bernadette Abela-Ridder,1
3202,mSphere,Akino Mercy,CS Charles Solomon Akino Mercy,1

In [9]:
jouranal_contribution_merged = topt_20.merge(journal_contribusion, how = 'left', on = 'Journal').sort_values(['Total_Count', 'PMID'], ascending = False)
jouranal_contribution_merged

,Journal,Total_Count,%,FirstAuthorLastname,FullName,PMID
18,PLoS neglected tropical diseases,151,4.46,Costa,F Federico Costa,3
40,PLoS neglected tropical diseases,151,4.46,Guernier,V Vanina Guernier,3
45,PLoS neglected tropical diseases,151,4.46,Hotez,PJ Peter J Hotez,3
4,PLoS neglected tropical diseases,151,4.46,Allan,KJ Kathryn J Allan,2
15,PLoS neglected tropical diseases,151,4.46,Chipwaza,B Beatrice Chipwaza,2
...,...,...,...,...,...,...
910,Veterinary microbiology,28,0.83,Schreiber,P Paul Schreiber,1
911,Veterinary microbiology,28,0.83,Spibey,N N Spibey,1
912,Veterinary microbiology,28,0.83,Tungtrakanpoung,R Rongdej Tungtrakanpoung,1
913,Veterinary microbiology,28,0.83,Verma,A Ashutosh Verma,1
914,Veterinary microbiology,28,0.83,Zuerner,RL Richard L Zuerner,1

In [15]:
article_author_merged = article_data.merge(author_data, on = 'PMID', how = 'left')
article_author_merged_copy = article_author_merged.copy()

article_count = article_author_merged_copy.groupby('FullName_y').agg('count')['PMID'].reset_index()

article_author_sorted_article_count = article_count.sort_values(
by = 'PMID',
ascending = False
)

simple=article_author_sorted_article_count.rename(columns = {'FullName_y':'FullName','PMID':'count'}) 

simple=simple.reset_index()
af=simple.drop('index',axis=1)
(af.head(20))

                              FullName  count
0                       AI Albert I Ko     72
1                  M Mathieu Picardeau     70
2                   W Walter Lilenbaum     56
3                      N Nobuo Koizumi     53
4                 MG Mitermayer G Reis     51
5                     F Federico Costa     38
6                   JM Joseph M Vinetz     37
7                 RA Rudy A Hartskeerl     37
8                    C Cyrille Goarant     37
9                            J Jie Yan     35
10               OA Odir A Dellagostin     33
11                    DA David A Haake     32
12                  JE Jarlath E Nally     31
13            SA Silvio A Vasconcellos     31
14                   EA Elsio A Wunder     30
15                    P Pascale Bourhy     30
16                    YF Yung-Fu Chang     29
17                     P P Vijayachari     29
18                         B Ben Adler     29
19  K Kalimuthusamy Natarajaseenivasan     26